<div class="wrapper full-height">
  <div class="banner">
    <h1>Add an ingredient to <%= @cocktail.name %></h1>
    <div class="main-container">
      <%= render 'doses/form' %>
    </div>
  </div>
</div>
